@tailwind base;
@tailwind components;
@tailwind utilities;

html { 
  scroll-behavior: smooth; 
}

#carrousel {
  scroll-behavior: smooth;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes appear {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes vanish {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes appearfromright {
  0% {
    mask-size: 0%;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, 0));
  }
  25%,
  70% {
    mask-size: 100%;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, 0));
  }
  100% {
    mask-size: 0%;
    mask-image: linear-gradient(to left, rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, 0));
  }
}

@keyframes menu {
  0% {
    height: 0px;
    opacity: 0;
  }
  100% {
    overflow: auto;
    height: 100px;
    opacity: 100;
  }
}

@keyframes reverseMenu {
  0% {
    overflow: auto;
    height: 100px;
    opacity: 100;
  }
  100% {
    height: 0px;
    opacity: 0;
  }
}

@keyframes middleone {
  0% {
    transform: rotate(0deg);
    transform: translateY(0);
  }
  100% {
    transform: translateY(6px) rotate(45deg);
  }
}

@keyframes reverseMiddleone {
  0% {
    transform: translateY(6px) rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
    transform: translateY(0);
  }
}

@keyframes bottomone {
  0% {
    transform: rotate(0deg);
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px) rotate(-45deg);
  }
}

@keyframes reverseBottomone {
  0% {
    transform: translateY(-5px) rotate(-45deg);
  }
  100% {
    transform: rotate(0deg);
    transform: translateY(0);
  }
}

@keyframes topone {
  0% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}

@keyframes reverseTopone {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

#menu.active > #middleone {
  animation: 0.5s ease-in-out middleone forwards;
}

#menu.active > #topone {
  animation: 0.5s ease-in-out topone forwards;
}

#menu.active > #bottomone {
  animation: 0.5s ease-in-out bottomone forwards;
}

#menu.active > #menuItems {
  animation: 0.5s ease-in-out menu forwards;
}

#menu:not(.active) > #middleone {
  animation: 0.5s ease-in-out reverseMiddleone forwards;
}

#menu:not(.active) > #topone {
  animation: 0.5s ease-in-out reverseTopone forwards;
}

#menu:not(.active) > #bottomone {
  animation: 0.5s ease-in-out reverseBottomone forwards;
}

#menu:not(.active) > #menuItems {
  animation: 0.5s ease-in-out reverseMenu forwards;
}

header {  
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

#loadingTitle {
  mask-repeat: no-repeat;
  animation: 5.2s ease-in 0s 1 appearfromright;
}

#whole {
  animation: 2s ease-in 0s 1 appear;
}

#loading {
  animation: 1.3s normal 4s 1 vanish;
}

.bg-section, #bg {
  background: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.20)), url("/images/day.jpg");
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.hidden-scroll {
  scrollbar-width: none;
}
