@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes appear{
  0%{
    opacity:0%;
  }
  100%{
    opacity:100%;
  }
}
@keyframes vanish{
  0%{
    opacity:100%;
  }
  100%{
    opacity:0%;
  }
}
@keyframes appearfromright{
 0%{
  mask-size:0%;
  mask-image:linear-gradient(to right,rgba(0,0,0,1) 100%,rgba(0,0,0,0)); 
  }
  25%{
    mask-size:100%;
  mask-image:linear-gradient(to right,rgba(0,0,0,1) 100%,rgba(0,0,0,0));
  }
  70%{
    mask-size:100%;
  mask-image:linear-gradient(to right,rgba(0,0,0,1) 100%,rgba(0,0,0,0));
  }


  100%{
    mask-size:0%;
  mask-image:linear-gradient(to left,rgba(0,0,0,1) 100%,rgba(0,0,0,0));
  }

 
}


header {  
  animation: 1s ease-out 0s 1 slideInFromLeft;

}
#loadingTitle{
  mask-repeat:no-repeat;
  animation: 5s ease-in 0s 1 appearfromright;

}
#whole{
  animation: 2s ease-in 0s 1 appear;
}
#loading{
  animation: 1.3s normal 4s 1 vanish;

}
#bg{

background: linear-gradient(rgba(0,0,0,0.30), rgba(0,0,0,0.20)),url("/images/day.jpg") ;
background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

}
#cloud {
  background: rgba(255, 255, 255);
  z-index:1;

  border-radius: 150px;	
  box-shadow: 10px 10px  rgba(0,0,0,0.2);
}
.star{
  box-shadow: 0 0 10px 3px silver,0 0 3px 1px silver

}
#moon{
  background:gray;
  width:70px;
  height:70px;
  border-radius:100px;
  transition:0.5s;
  box-shadow: 0 0 35px 5px silver,0 0 15px 5px silver

}
#moon:hover{
  box-shadow: 0 0 35px 5px silver,0 0 35px 15px silver;

  animation-name: borderpulsemoon;
  animation-duration: 2s; 
  animation-iteration-count: infinite;
  animation-timing-function:ease-in-out;
}
#sun{
  background:#fbbf24;
  width:70px;
  height:70px;
  border-radius:100px;
  transition:0.5s;

  box-shadow: 0 0 35px 5px yellow,0 0 25px 10px yellow 
}
#sun:hover{
  animation-name: borderpulsesun;
  animation-duration: 2s; 
  animation-iteration-count: infinite;
  animation-timing-function:ease-in-out;
  box-shadow: 0 0 35px 5px yellow,0 0 35px 15px yellow 

}


@keyframes borderpulsesun {
    0% {
      box-shadow: 0 0 35px 5px yellow,0 0 25px 10px yellow 
    }
    
   50% {
      box-shadow: 0 0 35px 5px yellow,0 0 35px 20px yellow 
    }
    100%{
      box-shadow: 0 0 35px 5px yellow,0 0 25px 10px yellow 

    }
}
@keyframes borderpulsemoon {
    0% {
  box-shadow: 0 0 35px 5px silver,0 0 15px 5px silver
}
    
   50% {
      box-shadow: 0 0 35px 5px silver,0 0 20px 10px silver
    }
    100%{
      box-shadow: 0 0 35px 5px silver,0 0 15px 5px silver

    }
}